*{
	margin: 0;
	padding: 0;
	color: black;
	font-family: Arial;
}
.osnova{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	background: url(fon.jpg) no-repeat center center fixed;
	background-size: cover;
	height: auto;
	min-width: 388px;
}
.shapka{
	vertical-align: middle;
	#background-color: green;
	width: 80%;
	display: table;
	height: 100px;
	text-align: center;
	margin: auto;
}
.content{
	#background-color: yellow;
	margin-top: 60px;
}
.podval
{
	width: 100%;
	text-align: center;
	#background-color: red;
}
.menu{
	width: 80%;
	display: table;
	height: 100px;
	text-align: center;
	margin: auto;
}
.pmenu{
	vertical-align: middle;
	display: table-cell;
	min-width: 100px;
	width: 33%;
	height: 200px;
	#background-color: violet;
}
.menu1{
	width: 80%;
	display: table;
	height: 100px;
	text-align: center;
	margin: auto;
}
.pmenu1{
	vertical-align: middle;
	display: table-cell;
	min-width: 100px;
	width: 33%;
	height: 100px;
	#background-color: blue;
}
.plaha{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	background-color: black;
	visibility: hidden;
	height: 100%;
	opacity: 0.7;
}
.secret{
	position: absolute;
	z-index: 1;
	left: 20%;
	top: 10%;
	width: 60%;
	height: 378px;
	visibility: hidden;
	background-color: white;
	min-width: 310px;
	border-radius: 10px;
	text-align: center;
}
.secretgalery{
	user-select: none;
	position: absolute;
	z-index: 1;
	left: 15%;
	top: 10%;
	width: 70%;
	height: auto;
	visibility: hidden;
	#background-color: transparent;
	background-color: white;
	min-width: 310px;
	border-radius: 10px;
	text-align: center;
}
.vopros1{
	width: 250px;
	margin: auto;
	text-align: left;
}
.vopros2{
	width: 250px;
	margin: auto;
	text-align: left;
	display: none;
}
.lbl{
	cursor: pointer;
}
.xbut{
	font-size: 22px;
	color: black;
	background-color: white;
	border: none;
	outline: none;
}
.xbut:hover{
	cursor: pointer;
	color: gray;
}
.bmenbx{
	display: block;
	float: right;
	margin-right: 9px;
	margin-top: 0px;
}
.bxbut{
	font-size: 22px;
	color: black;
	background-color: white;
	border: none;
	outline: none;
}
.koll{
	width: 220px;
	border: 1px solid black;
	border-radius: 4px;
	outline: none;
}
.kollsecret{
	width: 10px;
	display: none;
}
.menb{
	vertical-align: middle;
	text-align: center;
	display: table-cell;
	width: 33%;
	height: 110px;
}
.menbx{
	display: block;
	float: right;
	margin-right: 4px;
	margin-top: -52px;
}
.osnimg{
	width: 400px;
	height: 400px;
}
.gimg{
	width: 200px;
	height: 200px;
	padding: 1px;
	border: 2px solid black;
}
.gimg:hover{
	cursor: pointer;
	border: 3px solid black;
	padding: 0;
}
.bimg{
	margin-top: -10px;
	margin-bottom: 4px;
	width: 60%;
	height: auto;
	border: 2px solid black;
}
.logo{
	padding-left: 2px;
}
.galery{
	width: 80%;
	display: table;
	height: 260px;
	text-align: center;
	margin: 20px auto;
}
.chetb{
	cursor: pointer;
	font-size: 16px;
	position: relative;
	display: inline-block;
	width: 220px;
	height: 50px;
	text-shadow: 0 -1px 1px #777;
	color: #fff;
	outline: none;
	border: 2px solid #F64C2B;
	border-radius: 5px;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
	background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}
.chetb2{
	cursor: pointer;
	font-size: 16px;
	position: relative;
	display: none;
	width: 226px;
	height: 50px;
	text-shadow: 0 -1px 1px #777;
	color: #fff;
	outline: none;
	border: 2px solid #F64C2B;
	border-radius: 5px;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #800;
	background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}
.vs{
	margin: auto;
	width: 30px;
	margin-top: 20px;
	margin-bottom: 20px;
	border: 1px solid black;
	border-radius: 8px;
}
.chetb:active{
	top: .1em;
	left: .1em;
	box-shadow: 0 0 0 60px rgba(0,0,0,.05) inset;
}
.chetb:disabled{
	cursor: default;
	color: #696969;
	border: 2px solid #696969;
	box-shadow: 0 0 0 60px rgba(0,0,0,0) inset, .1em .1em .2em #696969;
	background: linear-gradient(#DCDCDC, #D3D3D3 48%, #D3D3D3 52%, #C0C0C0);
}
.error1{
	color: red;
	visibility: hidden;
}
.elupr{
	margin-top: -100px;
	width: 30px;
	height: 30px;
	content: url(arrow2.png);
	display: inline-block;
}
.elupr:hover{
	cursor: pointer;
	width: 30px;
	height: 30px;
	content: url(arrow22.png);
	display: inline-block;
}
.elupr2{
	width: 30px;
	height: 30px;
	content: url(arrow.png);
	display: inline-block;
}
.elupr2:hover{
	cursor: pointer;
	width: 30px;
	height: 30px;
	content: url(arrow1.png);
	display: inline-block;
}
@media (max-width: 640px) {
	.osnova{
		min-width: 360px;
	}
	.secret{
		left: 8%;
		width: 84%;
		min-width: 300px;
		height: 350px;
	}
	.secretgalery{
		left: 8%;
		width: 84%;
		min-width: 300px;
	}
	.menbx{
		margin-top: -54px;
	}
	.osnimg{
		width: 140px;
		height: 140px;
	}
	.gimg{
		width: 100px;
		height: 100px;
	}
	.pmenu{
		margin-top: 10px;
		display: block;
		vertical-align: middle;
		width: 100%;
	}
}